body{
	background-image:url(fond.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#head{
	background-image:url(page.png);
	background-repeat: no-repeat;
	padding: 80px 18px 0px 15px;

	margin-left: 450px;
	text-align: center;
	width: 557px;
	height: 673px;

}
li{
	margin-top: 55px;
	margin-bottom: 50px;
	list-style: none;
	width: 570px;
}
a{	
	text-decoration: none;
	text-align: center;
}
p{
	margin-bottom: 50px;
}
form{
	width: 310px;
	height: 570px;
	margin-bottom: 0px;
	margin-top: 88px;
	margin-left: 123px;
}
form p{
	float: right;
	margin-bottom: 50px;
}
h1{
	margin-bottom: 35px; 
}
#valide {
	width: 150px;
	margin-top: 20px;
}
#footer{
	background-color: transparent;
	padding: 0px;
}
#connexion{
	background-image:url(connexion/connexion.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 674px;
}
#boutoninscrip{
	width: 150px;
	margin-left: 60px;
}
#inscription{
	background-image:url(inscription/Inscription.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 674px;

}
#classement{

	background-image:url(classement/Classement.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 773px;
}
#image{
	margin-right: 31px;
	width: 73px;
	height: 121px;
	float: left;
}
#tableaucarte{
	float: left;
	width: 373px;
}
#carte{
	margin-left: 10px;
	float: left;
	width: 50px;
}
#regle{

	background-image:url(regles/regles.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 773px;
	color: white;
	font-size: 30px;
	padding-left: 14px;
}
#regle p{
	word-wrap: break-word;
	width: 557px;
}
div{
	text-align: center;
}
#couleur{
position: absolute;
z-index: 1;
width: 44px;
margin-top: 27px;
margin-left: 16px;
}
#moustache{
position: absolute;
z-index: 4;
margin-left: 25px;
margin-top: 8px
}
#barbe{
position: absolute;
z-index: 3;
max-width: 37px;
margin-top: 24px;
margin-left: 21px;
margin-bottom: 0px;
}
#lunette{
position: absolute;
z-index: 3;
max-width: 33px;
margin-top: -4px;
margin-left: 22px;
}
#cheveux{
position: absolute;
z-index: 3;
max-width: 60px;
margin-top:0px;
margin-left: 9px;
}
#cravate{
position: absolute;
z-index: 3;
max-width: 78px;
margin-top: 12px;
}
#collier{
position: absolute;
z-index: 4;
max-width: 27px;
margin-left: 26px;
margin-top: 52px;
margin-bottom: 0px;
}
#tableau{
	background-image:url(Fondquiestce2BLEU.png);
	background-repeat: no-repeat;
	padding-top: 77px;
	padding-left: 237px;
	padding-right: 138px;
	text-align: center;
	width: 640px;
	height: 752px;
	float: left;
}
#home{
	position: absolute;
	margin-left: 447px;
	margin-top: 14px;
}
#connex{
	margin-top: 205px;
	margin-left: 139px;
	height: 450px;
}
.from{
	height: 569px;
	width: 570px;
}

#commencerpartie{
	margin-top: 150px;
	width: 70%;
}