body{
	background-image:url(fond2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#head{
	background-image:url(page2.png);
	background-repeat: no-repeat;
	padding: 80px 18px 0px 15px;
	margin-left: 650px;
	margin-top: 65px;
	text-align: center;
	width: 557px;
	height: 673px;

}
li{
	margin-top: 55px;
	margin-bottom: 50px;
	list-style: none;
	width: 570px;
}
a{	
	text-decoration: none;
	text-align: center;
}
p{
	margin-bottom: 50px;
}
form{
	width: 310px;
	height: 570px;
	margin-bottom: 0px;
	margin-top: 88px;
	margin-left: 123px;
}
form p{
	float: right;
	margin-bottom: 50px;
}
h1{
	margin-bottom: 35px; 
}
#valide {
	width: 150px;
	margin-top: 20px;
}
#footer{
	background-color: transparent;
	padding: 0px;
}
#connexion{
	background-image:url(connexion/connexion.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 650px;
	margin-top: 65px;	
	text-align: center;
	width: 590px;
	height: 674px;
}
#boutoninscrip{
	width: 150px;
	margin-left: 60px;
}
#inscription{
	background-image:url(inscription/Inscription.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 650px;
	margin-top: 65px;
	text-align: center;
	width: 590px;
	height: 674px;

}
#classement{

	background-image:url(classement/Classement.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 650px;
	margin-top: 65px;	
	text-align: center;
	width: 590px;
	height: 773px;
}
#image{
	margin-right: 38px;
	margin-bottom: 15px;
	width: 73px;
	height: 121px;
	float: left;
}
#image p{
	text-align: center;
	margin: 110px 0px 0px 38px;
	font-size: 20px;
	color: white;
}
#tableaucarte{
	float: left;
	width: 373px;
	margin: 95px 0px 0px 100px;
}
#carte{
	margin:0px 10px 5px 0px;
	float: left;
	width: 50px;
}
#imagemyster{
	margin-right: 738px;
	float: left;
	width: 73px;
	height: 73px;
}
#myster{
	float: left;
	margin-left: 483px;
}
#question{
	float: left;
	padding: 0px 0px 17px 86px;
}
#question p{
	margin: 0px;
}
#question form{
	margin:0px 0px 10px 0px;
	height: 21px;
}
#regle{

	background-image:url(regles/regles.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 650px;
	text-align: center;
	width: 590px;
	height: 773px;
	color: white;
	font-size: 30px;
	padding-left: 14px;
	margin-top: 65px;
}
#regle p{
	word-wrap: break-word;
	width: 557px;
}
div{
	text-align: center;
}
#couleur{
position: absolute;
z-index: 1;
width: 49px;
margin-top: 4px;
margin-left: 5px;
}
#moustache{
position: absolute;
z-index: 4;
margin-left: 25px;
margin-top: 8px
}
#barbe{
position: absolute;
z-index: 3;
max-width: 37px;
margin-left: 11px;
margin-bottom: 0px;
}
#lunette{
position: absolute;
z-index: 3;
max-width: 33px;
margin-top: 32px;
margin-left: 13px;
}
#cheveux{
position: absolute;
z-index: 3;
max-width: 60px;
}
#cravate{
position: absolute;
z-index: 2;
max-width: 78px;
margin-top: 16px;
margin-left: -10px;
}
#collier{
position: absolute;
z-index: 4;
max-width: 27px;
margin-left: 16px;
margin-top: 72px;
margin-bottom: 0px;
}
#tableau{
	background-image:url(tapartie.png);
	background-repeat: no-repeat;
	padding: 94px 112px 55px 214px;
	text-align: center;
	width: 690px;
	height: 680px;
	float: left;
}
#tableau #carte{
	width: 78px;
	margin-left: 26px;
	margin-bottom: 16px;
}
#home{
	position: absolute;
	margin-left: 447px;
	margin-top: 14px;
}
#connex{
	margin-top: 205px;
	margin-left: 139px;
	height: 450px;
}
.from{
	height: 569px;
	width: 570px;
}

#commencerpartie{
	margin-top: 150px;
	width: 70%;
}
#gagner{
	font-size: 26px;
	color: white;
	margin-top: 109px;
	margin-bottom: 135px;
}
#gagner2{
	font-size: 26px;
	color: white;

}