body{
	background-image:url(fond.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#head{
	background-image:url(page.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 773px;

}
li{
	margin-bottom: 50px;
	list-style: none;
	width: 600px;
}
a{	
	text-decoration: none;
	text-align: center;
}
p{
	margin-bottom: 50px;
}
form{
	width: 310px;
	height: 570px;
	margin-bottom: 0px;
	margin-top: 88px;
	margin-left: 123px;
}
form p{
	float: right;
	margin-bottom: 50px;
}
h1{
	margin-bottom: 35px; 
}
#valide {
	width: 150px;
	margin-top: 20px;
}
#footer{
	background-color: transparent;
	padding: 0px;
}
#connexion{
	background-image:url(connexion/connexion.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 674px;
}
#boutoninscrip{
	width: 150px;
	margin-left: 60px;
}
#inscription{
	background-image:url(inscription/Inscription.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 674px;

}
#classement{

	background-image:url(classement/Classement.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 773px;
}
#image{
	margin-right: 2px;
	width: 73px;
	height: 121px;
	float: left;
}
#regle{

	background-image:url(regles/regles.png);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-left: 450px;
	text-align: center;
	width: 590px;
	height: 773px;
	color: white;
	font-size: 30px;
	padding-left: 14px;
}
#regle p{
	word-wrap: break-word;
	width: 557px;
}
div{
	text-align: center;
}
#couleur{
position: absolute;
z-index: 1;
margin-top: 6px;
margin-left: 13px;
}
#moustache{
position: absolute;
z-index: 4;
margin-left: 25px;
margin-top: 8px
}
#barbe{
position: absolute;
z-index: 3;
margin-top: 11px;
margin-left: 18px;
margin-bottom: 0px;
}
#lunette{
position: absolute;
z-index: 3;
margin-top: -5px;
margin-left: 22px;
}
#cheveux{
position: absolute;
z-index: 3;
margin-top:0px;
margin-left: 14px;
}
#cravate{
position: absolute;
z-index: 3;
margin-top: 20px;
}
#collier{
position: absolute;
z-index: 4;
margin-left: 23px;
margin-top: 67px;
margin-bottom: 0px;
}
#tableau{
	background-image:url(Fondquiestce2BLEU.png);
	background-repeat: no-repeat;
	padding-top: 77px;
	padding-left: 110px;
	text-align: center;
	width: 906px;
}
#home{
	float: left;
	margin-top: -70px;
}
#connex{
	margin-top: 205px;
	margin-left: 139px;
	height: 450px;
}
.from{
	height: 569px;
	width: 570px;
}